-- MariaDB dump 10.17  Distrib 10.4.14-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: kas
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `kas_activity_sectors`
--

DROP TABLE IF EXISTS `kas_activity_sectors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_activity_sectors` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `icon_class` varchar(100) DEFAULT NULL,
  `display_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `is_critical` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_activity_sectors`
--

LOCK TABLES `kas_activity_sectors` WRITE;
/*!40000 ALTER TABLE `kas_activity_sectors` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_activity_sectors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_cache`
--

DROP TABLE IF EXISTS `kas_cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `kas_cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_cache`
--

LOCK TABLES `kas_cache` WRITE;
/*!40000 ALTER TABLE `kas_cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_cache_locks`
--

DROP TABLE IF EXISTS `kas_cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `kas_cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_cache_locks`
--

LOCK TABLES `kas_cache_locks` WRITE;
/*!40000 ALTER TABLE `kas_cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_clients`
--

DROP TABLE IF EXISTS `kas_clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_clients` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sector_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `logo_url` varchar(500) DEFAULT NULL,
  `logo_path` varchar(500) DEFAULT NULL,
  `website_url` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kas_clients_sector_id_foreign` (`sector_id`),
  CONSTRAINT `kas_clients_sector_id_foreign` FOREIGN KEY (`sector_id`) REFERENCES `kas_activity_sectors` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_clients`
--

LOCK TABLES `kas_clients` WRITE;
/*!40000 ALTER TABLE `kas_clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_company`
--

DROP TABLE IF EXISTS `kas_company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_company` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slogan` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `website_url` varchar(255) DEFAULT NULL,
  `logo_url` varchar(500) DEFAULT NULL,
  `logo_path` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_company`
--

LOCK TABLES `kas_company` WRITE;
/*!40000 ALTER TABLE `kas_company` DISABLE KEYS */;
INSERT INTO `kas_company` VALUES (1,'KAS INNOVATION Technology','Votre vision, notre code...','Donnez une presence digitale a votre entreprise avec KAS Innovation Technology. Nous mettons la creativite au service de votre marque via le web, le mobile et le marketing digital.','Rue De Tunis Km 5, Sfax, Tunisie | Ile De France, Paris, France','contact@kas-technology.com','+33623778845','https://kas-technology.com/','https://kas-technology.com/images/logo.png',NULL,'2026-04-06 21:20:50','2026-04-06 21:20:50');
/*!40000 ALTER TABLE `kas_company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_contact_messages`
--

DROP TABLE IF EXISTS `kas_contact_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_contact_messages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `fullname` varchar(150) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `message` text NOT NULL,
  `status` enum('NEW','IN_PROGRESS','CLOSED') NOT NULL DEFAULT 'NEW',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_contact_messages`
--

LOCK TABLES `kas_contact_messages` WRITE;
/*!40000 ALTER TABLE `kas_contact_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_contact_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_crm_activities`
--

DROP TABLE IF EXISTS `kas_crm_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_crm_activities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lead_id` bigint(20) unsigned DEFAULT NULL,
  `client_id` bigint(20) unsigned DEFAULT NULL,
  `opportunity_id` bigint(20) unsigned DEFAULT NULL,
  `type` varchar(20) NOT NULL DEFAULT 'TASK',
  `subject` varchar(180) NOT NULL,
  `description` text DEFAULT NULL,
  `due_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'PENDING',
  `owner_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kas_crm_activities_lead_id_foreign` (`lead_id`),
  KEY `kas_crm_activities_client_id_foreign` (`client_id`),
  KEY `kas_crm_activities_opportunity_id_foreign` (`opportunity_id`),
  KEY `kas_crm_activities_owner_id_foreign` (`owner_id`),
  KEY `kas_crm_activities_status_index` (`status`),
  CONSTRAINT `kas_crm_activities_client_id_foreign` FOREIGN KEY (`client_id`) REFERENCES `kas_clients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kas_crm_activities_lead_id_foreign` FOREIGN KEY (`lead_id`) REFERENCES `kas_leads` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kas_crm_activities_opportunity_id_foreign` FOREIGN KEY (`opportunity_id`) REFERENCES `kas_opportunities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kas_crm_activities_owner_id_foreign` FOREIGN KEY (`owner_id`) REFERENCES `kas_users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_crm_activities`
--

LOCK TABLES `kas_crm_activities` WRITE;
/*!40000 ALTER TABLE `kas_crm_activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_crm_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_failed_jobs`
--

DROP TABLE IF EXISTS `kas_failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_failed_jobs`
--

LOCK TABLES `kas_failed_jobs` WRITE;
/*!40000 ALTER TABLE `kas_failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_kpi_metrics`
--

DROP TABLE IF EXISTS `kas_kpi_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_kpi_metrics` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `key` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  `value` int(10) unsigned NOT NULL DEFAULT 0,
  `unit` varchar(30) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `formula_rule` varchar(1000) DEFAULT NULL,
  `data_snapshot` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data_snapshot`)),
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `display_order` smallint(5) unsigned NOT NULL DEFAULT 1,
  `last_calculated_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_kpi_metrics_key_unique` (`key`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_kpi_metrics`
--

LOCK TABLES `kas_kpi_metrics` WRITE;
/*!40000 ALTER TABLE `kas_kpi_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_kpi_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_leads`
--

DROP TABLE IF EXISTS `kas_leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_leads` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `source` varchar(50) NOT NULL DEFAULT 'WEBSITE_CONTACT',
  `fullname` varchar(150) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `company` varchar(255) DEFAULT NULL,
  `sector_id` bigint(20) unsigned DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'NEW',
  `score` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `notes` text DEFAULT NULL,
  `owner_id` bigint(20) unsigned DEFAULT NULL,
  `converted_client_id` bigint(20) unsigned DEFAULT NULL,
  `last_contact_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kas_leads_sector_id_foreign` (`sector_id`),
  KEY `kas_leads_owner_id_foreign` (`owner_id`),
  KEY `kas_leads_converted_client_id_foreign` (`converted_client_id`),
  KEY `kas_leads_email_index` (`email`),
  KEY `kas_leads_status_index` (`status`),
  CONSTRAINT `kas_leads_converted_client_id_foreign` FOREIGN KEY (`converted_client_id`) REFERENCES `kas_clients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kas_leads_owner_id_foreign` FOREIGN KEY (`owner_id`) REFERENCES `kas_users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kas_leads_sector_id_foreign` FOREIGN KEY (`sector_id`) REFERENCES `kas_activity_sectors` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_leads`
--

LOCK TABLES `kas_leads` WRITE;
/*!40000 ALTER TABLE `kas_leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_migrations`
--

DROP TABLE IF EXISTS `kas_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_migrations`
--

LOCK TABLES `kas_migrations` WRITE;
/*!40000 ALTER TABLE `kas_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_opportunities`
--

DROP TABLE IF EXISTS `kas_opportunities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_opportunities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lead_id` bigint(20) unsigned DEFAULT NULL,
  `client_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(180) NOT NULL,
  `amount` decimal(14,2) NOT NULL DEFAULT 0.00,
  `currency` varchar(3) NOT NULL DEFAULT 'EUR',
  `stage` varchar(30) NOT NULL DEFAULT 'DISCOVERY',
  `probability` tinyint(3) unsigned NOT NULL DEFAULT 20,
  `expected_close_date` date DEFAULT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'OPEN',
  `owner_id` bigint(20) unsigned DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kas_opportunities_lead_id_foreign` (`lead_id`),
  KEY `kas_opportunities_client_id_foreign` (`client_id`),
  KEY `kas_opportunities_owner_id_foreign` (`owner_id`),
  KEY `kas_opportunities_stage_index` (`stage`),
  KEY `kas_opportunities_status_index` (`status`),
  CONSTRAINT `kas_opportunities_client_id_foreign` FOREIGN KEY (`client_id`) REFERENCES `kas_clients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kas_opportunities_lead_id_foreign` FOREIGN KEY (`lead_id`) REFERENCES `kas_leads` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kas_opportunities_owner_id_foreign` FOREIGN KEY (`owner_id`) REFERENCES `kas_users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_opportunities`
--

LOCK TABLES `kas_opportunities` WRITE;
/*!40000 ALTER TABLE `kas_opportunities` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_opportunities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_password_resets`
--

DROP TABLE IF EXISTS `kas_password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_password_resets` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `kas_password_resets_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_password_resets`
--

LOCK TABLES `kas_password_resets` WRITE;
/*!40000 ALTER TABLE `kas_password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_personal_access_tokens`
--

DROP TABLE IF EXISTS `kas_personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_personal_access_tokens_token_unique` (`token`),
  KEY `kas_personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_personal_access_tokens`
--

LOCK TABLES `kas_personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `kas_personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_pricing_plans`
--

DROP TABLE IF EXISTS `kas_pricing_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_pricing_plans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom_application` varchar(200) DEFAULT NULL,
  `type` enum('mensuel','annuel','licence') NOT NULL,
  `prix` decimal(10,2) NOT NULL,
  `description` text DEFAULT NULL,
  `fonctionnalites` text DEFAULT NULL,
  `badge` varchar(80) DEFAULT NULL,
  `is_featured` tinyint(1) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `display_order` smallint(5) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_pricing_plans_type_unique` (`type`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_pricing_plans`
--

LOCK TABLES `kas_pricing_plans` WRITE;
/*!40000 ALTER TABLE `kas_pricing_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_pricing_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_products`
--

DROP TABLE IF EXISTS `kas_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_products` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sector_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `short_desc` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `price` decimal(10,2) DEFAULT NULL,
  `display_order` int(10) unsigned NOT NULL DEFAULT 0,
  `image_url` varchar(500) DEFAULT NULL,
  `image_path` varchar(500) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_products_slug_unique` (`slug`),
  KEY `kas_products_sector_id_foreign` (`sector_id`),
  CONSTRAINT `kas_products_sector_id_foreign` FOREIGN KEY (`sector_id`) REFERENCES `kas_activity_sectors` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_products`
--

LOCK TABLES `kas_products` WRITE;
/*!40000 ALTER TABLE `kas_products` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_project_images`
--

DROP TABLE IF EXISTS `kas_project_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_project_images` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `image_url` varchar(500) NOT NULL,
  `image_path` varchar(500) DEFAULT NULL,
  `caption` varchar(255) DEFAULT NULL,
  `display_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kas_project_images_project_id_foreign` (`project_id`),
  CONSTRAINT `kas_project_images_project_id_foreign` FOREIGN KEY (`project_id`) REFERENCES `kas_projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_project_images`
--

LOCK TABLES `kas_project_images` WRITE;
/*!40000 ALTER TABLE `kas_project_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_project_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_projects`
--

DROP TABLE IF EXISTS `kas_projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_projects` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sector_id` bigint(20) unsigned DEFAULT NULL,
  `client_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `short_desc` varchar(500) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `main_image_url` varchar(500) DEFAULT NULL,
  `main_image_path` varchar(500) DEFAULT NULL,
  `is_featured` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_projects_slug_unique` (`slug`),
  KEY `kas_projects_sector_id_foreign` (`sector_id`),
  KEY `kas_projects_client_id_foreign` (`client_id`),
  CONSTRAINT `kas_projects_client_id_foreign` FOREIGN KEY (`client_id`) REFERENCES `kas_clients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kas_projects_sector_id_foreign` FOREIGN KEY (`sector_id`) REFERENCES `kas_activity_sectors` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_projects`
--

LOCK TABLES `kas_projects` WRITE;
/*!40000 ALTER TABLE `kas_projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_quotes`
--

DROP TABLE IF EXISTS `kas_quotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_quotes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `fullname` varchar(150) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `message` text DEFAULT NULL,
  `service_id` bigint(20) unsigned NOT NULL,
  `project_id` bigint(20) unsigned NOT NULL,
  `status` enum('NEW','IN_PROGRESS','SENT','ACCEPTED','REJECTED') NOT NULL DEFAULT 'NEW',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kas_quotes_service_id_foreign` (`service_id`),
  KEY `kas_quotes_project_id_foreign` (`project_id`),
  CONSTRAINT `kas_quotes_project_id_foreign` FOREIGN KEY (`project_id`) REFERENCES `kas_projects` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kas_quotes_service_id_foreign` FOREIGN KEY (`service_id`) REFERENCES `kas_services` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_quotes`
--

LOCK TABLES `kas_quotes` WRITE;
/*!40000 ALTER TABLE `kas_quotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_quotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_services`
--

DROP TABLE IF EXISTS `kas_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_services` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `short_desc` varchar(500) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `icon_class` varchar(100) DEFAULT NULL,
  `display_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_services_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_services`
--

LOCK TABLES `kas_services` WRITE;
/*!40000 ALTER TABLE `kas_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_sessions`
--

DROP TABLE IF EXISTS `kas_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `kas_sessions_user_id_index` (`user_id`),
  KEY `kas_sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_sessions`
--

LOCK TABLES `kas_sessions` WRITE;
/*!40000 ALTER TABLE `kas_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_stage_candidatures`
--

DROP TABLE IF EXISTS `kas_stage_candidatures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_stage_candidatures` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `stage_id` bigint(20) unsigned NOT NULL,
  `nom` varchar(150) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `etablissement` varchar(200) DEFAULT NULL,
  `niveau_etudes` varchar(100) DEFAULT NULL,
  `specialite` varchar(150) DEFAULT NULL,
  `lettre_motivation` text DEFAULT NULL,
  `cv_path` varchar(500) DEFAULT NULL,
  `statut` varchar(30) NOT NULL DEFAULT 'RECU',
  `notes_admin` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kas_stage_candidatures_stage_id_foreign` (`stage_id`),
  CONSTRAINT `kas_stage_candidatures_stage_id_foreign` FOREIGN KEY (`stage_id`) REFERENCES `kas_stages` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_stage_candidatures`
--

LOCK TABLES `kas_stage_candidatures` WRITE;
/*!40000 ALTER TABLE `kas_stage_candidatures` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_stage_candidatures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_stages`
--

DROP TABLE IF EXISTS `kas_stages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_stages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `titre` varchar(200) NOT NULL,
  `slug` varchar(220) NOT NULL,
  `domaine` varchar(100) NOT NULL,
  `type_stage` varchar(50) NOT NULL DEFAULT 'PFE',
  `niveau_requis` varchar(100) DEFAULT NULL,
  `description` text NOT NULL,
  `technologies` text DEFAULT NULL,
  `date_limite` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_stages_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_stages`
--

LOCK TABLES `kas_stages` WRITE;
/*!40000 ALTER TABLE `kas_stages` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_stages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_testimonials`
--

DROP TABLE IF EXISTS `kas_testimonials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_testimonials` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `client_name` varchar(150) NOT NULL,
  `client_role` varchar(150) DEFAULT NULL,
  `company` varchar(255) DEFAULT NULL,
  `message` text NOT NULL,
  `avatar_url` varchar(500) DEFAULT NULL,
  `avatar_path` varchar(500) DEFAULT NULL,
  `display_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_testimonials`
--

LOCK TABLES `kas_testimonials` WRITE;
/*!40000 ALTER TABLE `kas_testimonials` DISABLE KEYS */;
INSERT INTO `kas_testimonials` VALUES (1,'Client KAS','Chef d entreprise','Entreprise partenaire','KAS ne construit pas seulement des logiciels, KAS construit votre business. La solution livree est fiable et professionnelle.',NULL,NULL,1,1,'2026-04-06 21:20:50','2026-04-06 21:20:50'),(2,'Sponsor de projet','Responsable operations','Partenaire entreprise','KAS nous a aides a moderniser nos operations avec une execution technique solide et une communication claire.',NULL,NULL,2,1,'2026-04-06 21:20:50','2026-04-06 21:20:50');
/*!40000 ALTER TABLE `kas_testimonials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_users`
--

DROP TABLE IF EXISTS `kas_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `fullname` varchar(255) DEFAULT NULL,
  `role` enum('ADMIN','EDITOR') NOT NULL DEFAULT 'EDITOR',
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_users`
--

LOCK TABLES `kas_users` WRITE;
/*!40000 ALTER TABLE `kas_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-06 23:30:20
